node_modules
# Keep environment variables out of version control
.env

/generated/prisma

/src/generated/prisma

/src/generated/prisma


# Root-level compiled config artifacts
*.config.js
*.config.js.map
*.config.d.ts
*.config.d.ts.map